.modal-fluid{
	width:90% !important;
	max-width:90% !important;
	heigth:70% !important
	}

hr {
  height: 1px;
  color: red;
}

.edicion:hover{
	 background-color: yellow;
	}

.labelModal{
	text-align: left;
	text-transform: capitalize;
	text-color: #00FFFF;
	font-size:12px;
}

