.edicion:hover{
	 background-color: red;
	}
	
.colorLabel{
	color:white;
}

.sizeEtiqueta{
	font-size:20px;
	text-align: justify;
	 text-transform: capitalize;
}

.parallax {
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

div.alerta2 {
  width: 100%;
  box-shadow:0 4px 8px 0 ;
  text-align: center;
}