@charset "ISO-8859-1";

hr {
  height: 1px;
  color: red;
}

.edicion:hover{
	 background-color: yellow;
	}

.labelModal{
	text-align: left;
	text-transform: capitalize;
	text-color: #00FFFF;
	font-size:12px;
}

